<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93704340999-7dslb8btd2op5tda7poru2snpi5p0uu0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93704340999-7dslb8btd2op5tda7poru2snpi5p0uu0</string>
	<key>API_KEY</key>
	<string>AIzaSyBNV-1jkIjiopO0YvDV5T9kRUrPC6WmOIo</string>
	<key>GCM_SENDER_ID</key>
	<string>93704340999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shippack.delivery</string>
	<key>PROJECT_ID</key>
	<string>ship-pack</string>
	<key>STORAGE_BUCKET</key>
	<string>ship-pack.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93704340999:ios:c60240797c7dbbf31ccca2</string>
</dict>
</plist>